.out
1001/a.out
*.out
1081/.idea/codeStyles/Project.xml
1081/.idea/1081.iml
1081/.idea/dictionaries/blacksmith.xml
1081/.idea/misc.xml
1081/.idea/modules.xml
1081/.idea/workspace.xml
1081/cmake-build-debug/1081
1081/cmake-build-debug/1081.cbp
1081/cmake-build-debug/cmake_install.cmake
1081/cmake-build-debug/CMakeCache.txt
1081/cmake-build-debug/CMakeFiles/1081.dir/build.make
1081/cmake-build-debug/CMakeFiles/1081.dir/cmake_clean.cmake
1081/cmake-build-debug/CMakeFiles/1081.dir/CXX.includecache
1081/cmake-build-debug/CMakeFiles/1081.dir/depend.internal
1081/cmake-build-debug/CMakeFiles/1081.dir/depend.make
1081/cmake-build-debug/CMakeFiles/1081.dir/DependInfo.cmake
1081/cmake-build-debug/CMakeFiles/1081.dir/flags.make
1081/cmake-build-debug/CMakeFiles/1081.dir/link.txt
1081/cmake-build-debug/CMakeFiles/1081.dir/main.cpp.o
1081/cmake-build-debug/CMakeFiles/1081.dir/progress.make
1081/cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
1081/cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
1081/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
1081/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
1081/cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
1081/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
1081/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
1081/cmake-build-debug/CMakeFiles/clion-environment.txt
1081/cmake-build-debug/CMakeFiles/clion-log.txt
1081/cmake-build-debug/CMakeFiles/cmake.check_cache
1081/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
1081/cmake-build-debug/CMakeFiles/CMakeOutput.log
1081/cmake-build-debug/CMakeFiles/feature_tests.bin
1081/cmake-build-debug/CMakeFiles/feature_tests.c
1081/cmake-build-debug/CMakeFiles/feature_tests.cxx
1081/cmake-build-debug/CMakeFiles/Makefile.cmake
1081/cmake-build-debug/CMakeFiles/Makefile2
1081/cmake-build-debug/CMakeFiles/progress.marks
1081/cmake-build-debug/CMakeFiles/TargetDirectories.txt
1081/cmake-build-debug/Makefile
1081/CMakeLists.txt
1082/.idea/1082.iml
1082/.idea/codeStyles/Project.xml
1082/.idea/dictionaries/blacksmith.xml
1082/.idea/misc.xml
1082/.idea/modules.xml
1082/.idea/workspace.xml
1082/cmake-build-debug/1082.cbp
1082/cmake-build-debug/cmake_install.cmake
1082/cmake-build-debug/CMakeCache.txt
1082/cmake-build-debug/CMakeFiles/1082.dir/build.make
1082/cmake-build-debug/CMakeFiles/1082.dir/depend.make
1082/cmake-build-debug/CMakeFiles/1082.dir/cmake_clean.cmake
1082/cmake-build-debug/CMakeFiles/1082.dir/DependInfo.cmake
1082/cmake-build-debug/CMakeFiles/1082.dir/flags.make
1082/cmake-build-debug/CMakeFiles/1082.dir/link.txt
1082/cmake-build-debug/CMakeFiles/1082.dir/progress.make
1082/cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
1082/cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
1082/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
1082/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
1082/cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
1082/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
1082/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
1082/cmake-build-debug/CMakeFiles/clion-environment.txt
1082/cmake-build-debug/CMakeFiles/clion-log.txt
1082/cmake-build-debug/CMakeFiles/cmake.check_cache
1082/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
1082/cmake-build-debug/CMakeFiles/CMakeOutput.log
1082/cmake-build-debug/CMakeFiles/feature_tests.bin
1082/cmake-build-debug/CMakeFiles/feature_tests.c
1082/cmake-build-debug/CMakeFiles/feature_tests.cxx
1082/cmake-build-debug/CMakeFiles/Makefile.cmake
1082/cmake-build-debug/CMakeFiles/Makefile2
1082/cmake-build-debug/CMakeFiles/progress.marks
1082/cmake-build-debug/CMakeFiles/TargetDirectories.txt
1082/cmake-build-debug/Makefile
1082/CMakeLists.txt
1083/.idea/1083.iml
1083/.idea/codeStyles/Project.xml
1083/.idea/dictionaries/blacksmith.xml
1083/.idea/misc.xml
1083/.idea/modules.xml
1083/.idea/workspace.xml
1083/cmake-build-debug/1083
1083/cmake-build-debug/1083.cbp
1083/cmake-build-debug/cmake_install.cmake
1083/cmake-build-debug/CMakeCache.txt
1083/cmake-build-debug/CMakeFiles/1083.dir/build.make
1083/cmake-build-debug/CMakeFiles/1083.dir/cmake_clean.cmake
1083/cmake-build-debug/CMakeFiles/1083.dir/CXX.includecache
1083/cmake-build-debug/CMakeFiles/1083.dir/depend.internal
1083/cmake-build-debug/CMakeFiles/1083.dir/DependInfo.cmake
1083/cmake-build-debug/CMakeFiles/1083.dir/depend.make
1083/cmake-build-debug/CMakeFiles/1083.dir/flags.make
1083/cmake-build-debug/CMakeFiles/1083.dir/link.txt
1083/cmake-build-debug/CMakeFiles/1083.dir/main.cpp.o
1083/cmake-build-debug/CMakeFiles/1083.dir/progress.make
1083/cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
1083/cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
1083/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
1083/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
1083/cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
1083/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
1083/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
1083/cmake-build-debug/CMakeFiles/clion-environment.txt
1083/cmake-build-debug/CMakeFiles/clion-log.txt
1083/cmake-build-debug/CMakeFiles/cmake.check_cache
1083/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
1083/cmake-build-debug/CMakeFiles/CMakeOutput.log
1083/cmake-build-debug/CMakeFiles/feature_tests.bin
1083/cmake-build-debug/CMakeFiles/feature_tests.c
1083/cmake-build-debug/CMakeFiles/feature_tests.cxx
1083/cmake-build-debug/CMakeFiles/Makefile.cmake
1083/cmake-build-debug/CMakeFiles/Makefile2
1083/cmake-build-debug/CMakeFiles/progress.marks
1083/cmake-build-debug/CMakeFiles/TargetDirectories.txt
1083/cmake-build-debug/Makefile
1083/CMakeLists.txt
1086/CMakeLists.txt
1086/cmake-build-debug/Makefile
1086/cmake-build-debug/CMakeFiles/TargetDirectories.txt
1086/cmake-build-debug/CMakeFiles/progress.marks
1086/cmake-build-debug/CMakeFiles/Makefile2
1086/cmake-build-debug/CMakeFiles/Makefile.cmake
1086/cmake-build-debug/CMakeFiles/feature_tests.cxx
1086/cmake-build-debug/CMakeFiles/feature_tests.c
1086/cmake-build-debug/CMakeFiles/feature_tests.bin
1086/cmake-build-debug/CMakeFiles/CMakeOutput.log
1086/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
1086/cmake-build-debug/CMakeFiles/cmake.check_cache
1086/cmake-build-debug/CMakeFiles/clion-log.txt
1086/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
1086/cmake-build-debug/CMakeFiles/clion-environment.txt
1086/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
1086/cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
1086/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
1086/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
1086/cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
1086/cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
1086/cmake-build-debug/CMakeFiles/1086.dir/progress.make
1086/cmake-build-debug/CMakeFiles/1086.dir/main.cpp.o
1086/cmake-build-debug/CMakeFiles/1086.dir/link.txt
1086/cmake-build-debug/CMakeFiles/1086.dir/flags.make
1086/cmake-build-debug/CMakeFiles/1086.dir/DependInfo.cmake
1086/cmake-build-debug/CMakeFiles/1086.dir/depend.make
1086/cmake-build-debug/CMakeFiles/1086.dir/depend.internal
1086/cmake-build-debug/CMakeFiles/1086.dir/CXX.includecache
1086/cmake-build-debug/CMakeFiles/1086.dir/cmake_clean.cmake
1086/cmake-build-debug/CMakeFiles/1086.dir/build.make
1086/cmake-build-debug/CMakeCache.txt
1086/cmake-build-debug/cmake_install.cmake
1086/cmake-build-debug/1086.cbp
1086/cmake-build-debug/1086
1086/.idea/workspace.xml
1086/.idea/modules.xml
1086/.idea/misc.xml
1086/.idea/dictionaries/blacksmith.xml
1086/.idea/codeStyles/Project.xml
1086/.idea/1086.iml
1054/.idea/1054.iml
1054/.idea/codeStyles/Project.xml
1054/.idea/dictionaries/blacksmith.xml
1054/.idea/misc.xml
1054/.idea/modules.xml
1054/.idea/workspace.xml
1054/cmake-build-debug/1054
1054/cmake-build-debug/1054.cbp
1054/cmake-build-debug/cmake_install.cmake
1054/cmake-build-debug/CMakeCache.txt
1054/cmake-build-debug/CMakeFiles/1054.dir/build.make
1054/cmake-build-debug/CMakeFiles/1054.dir/cmake_clean.cmake
1054/cmake-build-debug/CMakeFiles/1054.dir/CXX.includecache
1054/cmake-build-debug/CMakeFiles/1054.dir/depend.internal
1054/cmake-build-debug/CMakeFiles/1054.dir/depend.make
1054/cmake-build-debug/CMakeFiles/1054.dir/DependInfo.cmake
1054/cmake-build-debug/CMakeFiles/1054.dir/flags.make
1054/cmake-build-debug/CMakeFiles/1054.dir/link.txt
1054/cmake-build-debug/CMakeFiles/1054.dir/main.cpp.o
1054/cmake-build-debug/CMakeFiles/1054.dir/progress.make
1054/cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
1054/cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
1054/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
1054/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
1054/cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
1054/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
1054/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
1054/cmake-build-debug/CMakeFiles/clion-environment.txt
1054/cmake-build-debug/CMakeFiles/clion-log.txt
1054/cmake-build-debug/CMakeFiles/cmake.check_cache
1054/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
1054/cmake-build-debug/CMakeFiles/CMakeOutput.log
1054/cmake-build-debug/CMakeFiles/feature_tests.bin
1054/cmake-build-debug/CMakeFiles/feature_tests.c
1054/cmake-build-debug/CMakeFiles/feature_tests.cxx
1054/cmake-build-debug/CMakeFiles/Makefile.cmake
1054/cmake-build-debug/CMakeFiles/Makefile2
1054/cmake-build-debug/CMakeFiles/progress.marks
1054/cmake-build-debug/CMakeFiles/TargetDirectories.txt
1054/cmake-build-debug/Makefile
1054/CMakeLists.txt
1027/.idea/1027.iml
1027/.idea/codeStyles/Project.xml
1027/.idea/dictionaries/blacksmith.xml
1027/.idea/misc.xml
1027/.idea/modules.xml
1027/.idea/workspace.xml
1027/cmake-build-debug/1027
1027/cmake-build-debug/cmake_install.cmake
1027/cmake-build-debug/1027.cbp
1027/cmake-build-debug/CMakeCache.txt
1027/cmake-build-debug/CMakeFiles/1027.dir/build.make
1027/cmake-build-debug/CMakeFiles/1027.dir/cmake_clean.cmake
1027/cmake-build-debug/CMakeFiles/1027.dir/CXX.includecache
1027/cmake-build-debug/CMakeFiles/1027.dir/depend.internal
1027/cmake-build-debug/CMakeFiles/1027.dir/depend.make
1027/cmake-build-debug/CMakeFiles/1027.dir/DependInfo.cmake
1027/cmake-build-debug/CMakeFiles/1027.dir/flags.make
1027/cmake-build-debug/CMakeFiles/1027.dir/link.txt
1027/cmake-build-debug/CMakeFiles/1027.dir/main.cpp.o
1027/cmake-build-debug/CMakeFiles/1027.dir/progress.make
1027/cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
1027/cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
1027/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
1027/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
1027/cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
1027/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
1027/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
1027/cmake-build-debug/CMakeFiles/clion-environment.txt
1027/cmake-build-debug/CMakeFiles/clion-log.txt
1027/cmake-build-debug/CMakeFiles/cmake.check_cache
1027/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
1027/cmake-build-debug/CMakeFiles/CMakeOutput.log
1027/cmake-build-debug/CMakeFiles/feature_tests.bin
1027/cmake-build-debug/CMakeFiles/feature_tests.c
1027/cmake-build-debug/CMakeFiles/feature_tests.cxx
1027/cmake-build-debug/CMakeFiles/Makefile.cmake
1027/cmake-build-debug/CMakeFiles/Makefile2
1027/cmake-build-debug/CMakeFiles/progress.marks
1027/cmake-build-debug/CMakeFiles/TargetDirectories.txt
1027/cmake-build-debug/Makefile
1027/CMakeLists.txt
